.card {
	background-color: rgb(250, 250, 250) !important;
	transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out, box-shadow 0.05s ease-in-out;
}

.card:hover {
	background-color: white !important;
	box-shadow: 1px 5px 6px #ccc;
}
